{% block top %}
    <div class="world-info">
        <div class="world">

        </div>
    </div>
    <div class="town-control container">
        <div class="town-left">
            <
        </div>
        <div class="town-info">
            <h1 class="town-name">{{ name }}</h1>
            <div class="towns">
                <select>
                    {% for town in boarddata.towns %}
                        <option value="{{ town.id }}">{{ town.name }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="town-right">
            >
        </div>
    </div>
{% endblock %}

{% block bottom %}

    {% if resources %}
        <ul class="town-resources horizontal-list">
            {% for resource in resources %}
                <li>{{ resource }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if options %}
        <ul class="town-options horizontal-list">
            {% for option in options %}
                <li><a href="{{ option.href }}">{{ option.name }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}